$primaryLight: #ffffff;
$primarydark: #272727;
$primaryLighter: #868686;
$primaryDanger: #f72b0c;
$primaryLightning: #c6c1bd;
$primaryTenue: #f0776b;
$secondaryDark: #403d3b;
$secondaryTenue: #e4cdc9;
$secondaryLighter: #8b8a87;
$secondaryLightning: #9c9c9c;
$secondaryCheck: #86b54a;
$designCheck: #86b648;
$designLighter: #5d5d5c;
$designImportant: #bf351f;
$designDark: #040404;
$designTenue: #e97c62;